     :root {
        --font-common: 400 18px/34px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        --font-icon: 600 12px "Lucida Grande", "Geneva", "Helvetica", Arial, sans-serif;
        --accent-blue: #0887e2;
        --accent-blue-d1: #0970b9;
        --accent-blue-ls: #d1e3f0;
        --accent-red: #e90027;
        --accent-red-d1: #96162c;
        --accent-red-ls: #e297a4;
        --accent-green: #83d129;
        --accent-green-100: #82cf29;
        --accent-green: #82cf29;
        --accent-green-l1: #5cad00;
        --accent-green-sel: #63a716;
        --pal-grey-00: #000;
        --pal-grey-01: #0C0C0C;
        --pal-grey-02: #181818;
        --pal-grey-03: #242424;
        --pal-grey-04: #303030;
        --pal-grey-05: #484848;
        --pal-grey-06: #545454;
        --pal-grey-07: #606060;
        --pal-grey-08: #6C6C6C;
        --pal-grey-09: #848484;
        --pal-grey-10: #909090;
        --color-grey-01: #000000;
        --color-grey-02: #060606;
        --color-grey-03: #0c0c0c;
        --color-grey-04: #121212;
        --color-grey-05: #181818;
        --color-grey-06: #1e1e1e;
        --color-grey-07: #242424;
        --color-grey-08: #2a2a2a;
        --color-grey-09: #303030;
        --color-grey-10: #363636;
        --color-grey-11: #3c3c3c;
        --color-grey-12: #424242;
        --color-grey-13: #484848;
        --color-grey-14: #4e4e4e;
        --color-grey-15: #545454;
        --color-grey-16: #5a5a5a;
        --color-grey-17: #606060;
        --color-grey-18: #666666;
        --color-grey-19: #6c6c6c;
        --color-grey-20: #727272;
        --color-grey-21: #787878;
        --color-grey-22: #7e7e7e;
        --color-grey-23: #848484;
        --color-grey-24: #8a8a8a;
        --color-grey-25: #909090;
        --color-grey-26: #969696;
        --color-grey-27: #9c9c9c;
        --color-grey-28: #a2a2a2;
        --color-grey-29: #a8a8a8;
        --color-grey-30: #aeaeae;
        --color-grey-31: #b4b4b4;
        --color-grey-32: #bababa;
        --color-grey-33: #c0c0c0;
        --color-grey-34: #c6c6c6;
        --color-grey-35: #cccccc;
        --color-grey-36: #d2d2d2;
        --color-grey-37: #d8d8d8;
        --color-grey-38: #dedede;
        --color-grey-39: #e4e4e4;
        --color-grey-40: #eaeaea;
        --color-red-01: #ad0000;
        --color-red-02: #b90c0c;
        --color-red-03: #c51818;
        --color-red-04: #d12424;
        --color-red-05: #dd3030;
        --color-red-06: #e93c3c;
        --color-red-07: #f54848;
        --color-red-08: #ff5454;
        --color-red-09: #ff6060;
        --color-red-10: #ff6c6c;
        --color-green-01: #479500;
        --color-green-02: #53a10c;
        --color-green-03: #5fad18;
        --color-green-04: #6bb924;
        --color-green-05: #77c530;
        --color-green-06: #83d13c;
        --color-green-07: #8fdd48;
        --color-green-08: #9be954;
        --color-green-09: #a7f560;
        --color-green-10: #b3ff6c;
        --color-blue-01: #005fba;
        --color-blue-02: #0867c2;
        --color-blue-03: #106fca;
        --color-blue-04: #1877d2;
        --color-blue-05: #207fda;
        --color-blue-06: #2887e2;
        --color-blue-07: #308fea;
        --color-blue-08: #3897f2;
        --color-blue-09: #409ffa;
        --color-blue-10: #48a7ff;
        --header-bg: var(--color-grey-04);
        --header-fg: var(--color-grey-30);
        --header-font-size: var(--fs-h4);
        --indent-header: 4pt;
        --pad-header: 8pt;
        --frame-bg: var(--color-grey-08);
        --content-fg: var(--color-grey-30);
        --content-fg-l1: var(--header-fg);
        --content-bg: var(--color-grey-10);
        --content-bg-l1: var(--color-grey-11);
        --content-bg-l2: #ff0000;
        --content-bg-l3: #333;
        --content-border: var(--frame-bg);
        --color-icon-fg: var(--color-blue-05);
        --color-icon-bg: var(--color-grey-08);
        --icon-size: 12pt;
        --frame-fg: var(--header-fg);
        --fs-h1: 22pt;
        --fs-h2: 18pt;
        --fs-h3: 16pt;
        --fs-h4: 14pt;
        --fs-h5: 12pt;
        --link-common: var(--color-grey-30);
        --border-common: var(--content-border);
        --code-bg: #ffebcd;
        --code-fg: #333333;
        --code-bd: #4665a2;
        --indent: 12pt;
        --spacing-sm: 4pt;
        --heading-color: var(--color-blue-08);
        --member-title: var(--color-blue-08);
        --member-title-bg: var(--color-grey-06);
        --member-prototype-fg: var(--color-grey-18);
        --member-prototype-bg: var(--color-grey-07);
        --member-modifier: var(--accent-blue);
        --member-name: inherit;
        --parameter-type: var(--color-green-04);
        --parameter-name: var(--color-green-06);
        --member-doc-bg: var(--color-grey-08);
        --member-doc-fg: var(--color-grey-00);
        --member-doc-bd: var(--color-grey-04);
        --package-group-bg: var(--color-grey-08);
        --package-group-fg: var(--color-grey-20);
        --package-group-bd: var(---color-grey-09);
        --group-heading-bg: inherit;
        --group-heading-fg: var(--color-blue-03);
        --group-heading-accent: var(--color-green-04);
        --pre-text-common: var(--color-grey-35);
        --font-size: 10px;
        --text-color: var(--content-fg);
        --mainpoly-fill: var(--color-grey-09);
        --mainpoly-stroke: var(--header-bg);
        --mainpoly-stroke-width: 1px;
        --inner-fill: var(--color-grey-12);
        --inner-stroke: var(--mainpoly-stroke);
        --inner-stroke-width: 1px;
        --path-width: 1.0px;
        --path-color: var(--heading-color);
        --path-end-point-color: var(--header-bg);
        --path-end-point-stroke: var(--path-end-point-color);
    }