:root {
/**/
--empty: #FF00FF;
--background-color: #FaFaFa;
--background-color-content: #FeFeFe;
--foreground-color: #2E2E2F;
--color-link: #7196c9;
--color-bold: #509BD2;
--color-accent: #509BD2;
--color-border: #aeb6c2;
--color-clear: #E4E4E4;
--code-background: #F0F0F0;
--code-foreground: #9197a0;
/**/
--b0: #1e1e1e;
--b1: #222;
--b2: #2e2e2e;
--b3: #333;
--b4: #3e3e3e;
--b5: #444;
--b6: #4e4e4e;
--b7: #555;
--b8: #5e5e5e;
--b9: #666;
/**/
--f9: #999;
--f8: #a1a1a1;
--f7: #aaa;
--f6: #b1b1b1;
--f5: #bbb;
--f4: #c1c1c1;
--f3: #ccc;
--f2: #d1d1d1;
--f1: #ddd;
--f0: #e1e1e1;
}

body {
margin: 0;
padding: 0;
background-color: var(--b0);
}

.default{
background-color: var(--empty);
}

.b0 {
background-color: var(--b0);
}
.b1 {
background-color: var(--b1);
}
.b2 {
background-color: var(--b2);
}
.b3 {
background-color: var(--b3);
}
.b4 {
background-color: var(--b4);
}
.b5 {
background-color: var(--b5);
}
.b6 {
background-color: var(--b6);
}
.b7 {
background-color: var(--b7);
}
.b8 {
background-color: var(--b8);
}
.b9 {
background-color: var(--b9);
}
.f0 {
color: var(--f0);
}

.f1 {
color: var(--f1);
}

.f2 {
color: var(--f2);
}

.f3 {
color: var(--f3);
}

.f4 {
color: var(--f4);
}

.f5 {
color: var(--f5);
}

.f6 {
color: var(--f6);
}

.f7 {
color: var(--f7);
}

.f8 {
color: var(--f8);
}

.f9 {
color: var(--f9);
}
