:root {

    --a-0: #509BD2;
    --a-1: #d25084;
    --a-2: #84d250;

  --c-9: #17171a;
  --c-8: #1b1b1e;
  --c-7: #1f1f22;
  --c-6: #232326;
  --c-5: #27272a;
  --c-4: #2b2b2e;
  --c-3: #2f2f32;
  --c-2: #333336;
  --c-1: #37373a;
  --c0: #3b3b3e;
  --c1: #3f3f42;
  --c2: #434346;
  --c3: #47474a;
  --c4: #4b4b4e;
  --c5: #4f4f52;
  --c6: #535356;
  --c7: #57575a;
  --c8: #5b5b5e;
  --c9: #5f5f62;
  --c2-9: #797676;
  --c2-8: #7d7a7a;
  --c2-7: #817e7e;
  --c2-6: #858282;
  --c2-5: #898686;
  --c2-4: #8d8a8a;
  --c2-3: #918e8e;
  --c2-2: #959292;
  --c2-1: #999696;
  --c20: #9d9a9a;
  --c21: #a19e9e;
  --c22: #a5a2a2;
  --c23: #a9a6a6;
  --c24: #adaaaa;
  --c25: #b1aeae;
  --c26: #b5b2b2;
  --c27: #b9b6b6;
  --c28: #bdbaba;
  --c29: #c1bebe;
}
.b-9 { background-color: var(--c-9); }
.f-9 { color: var(--c2-9); }
.bc-9 { border-color: var(--c2-9); }
.b-8 { background-color: var(--c-8); }
.f-8 { color: var(--c2-8); }
.bc-8 { border-color: var(--c2-8); }
.b-7 { background-color: var(--c-7); }
.f-7 { color: var(--c2-7); }
.bc-7 { border-color: var(--c2-7); }
.b-6 { background-color: var(--c-6); }
.f-6 { color: var(--c2-6); }
.bc-6 { border-color: var(--c2-6); }
.b-5 { background-color: var(--c-5); }
.f-5 { color: var(--c2-5); }
.bc-5 { border-color: var(--c2-5); }
.b-4 { background-color: var(--c-4); }
.f-4 { color: var(--c2-4); }
.bc-4 { border-color: var(--c2-4); }
.b-3 { background-color: var(--c-3); }
.f-3 { color: var(--c2-3); }
.bc-3 { border-color: var(--c2-3); }
.b-2 { background-color: var(--c-2); }
.f-2 { color: var(--c2-2); }
.bc-2 { border-color: var(--c2-2); }
.b-1 { background-color: var(--c-1); }
.f-1 { color: var(--c2-1); }
.bc-1 { border-color: var(--c2-1); }
.b0 { background-color: var(--c0); }
.f0 { color: var(--c20); }
.bc0 { border-color: var(--c20); }
.b1 { background-color: var(--c1); }
.f1 { color: var(--c21); }
.bc1 { border-color: var(--c21); }
.b2 { background-color: var(--c2); }
.f2 { color: var(--c22); }
.bc2 { border-color: var(--c22); }
.b3 { background-color: var(--c3); }
.f3 { color: var(--c23); }
.bc3 { border-color: var(--c23); }
.b4 { background-color: var(--c4); }
.f4 { color: var(--c24); }
.bc4 { border-color: var(--c24); }
.b5 { background-color: var(--c5); }
.f5 { color: var(--c25); }
.bc5 { border-color: var(--c25); }
.b6 { background-color: var(--c6); }
.f6 { color: var(--c26); }
.bc6 { border-color: var(--c26); }
.b7 { background-color: var(--c7); }
.f7 { color: var(--c27); }
.bc7 { border-color: var(--c27); }
.b8 { background-color: var(--c8); }
.f8 { color: var(--c28); }
.bc8 { border-color: var(--c28); }
.b9 { background-color: var(--c9); }
.f9 { color: var(--c29); }
.bc9 { border-color: var(--c29); }
/*-------------------------------*/

body {
    padding: 0;
    margin: 0;
    background-color: var(--c0);
}

a {
    text-decoration: none;
}


/*-------------------------------*/

.l1 {
    display: flex;
    flex-direction: column;
    min-height: 15%;
}

.l0 {
    flex-grow: 1;
}

.of-0 {
    overflow: hidden;
}

.of-1 {
    overflow: auto;
}

.of-x {
    overflow-y: hidden;
    overflow-x: auto;
}

.of-y {
    overflow-x: hidden;
    overflow-y: auto;
}

/*-------------------------------*/

.fa-2 {
    color: var(--c25);
}

.fa-1 {
    color: var(--c29);
}

.fa0 {
    color: var(--a-0);
}

.fa1 {
    color: var(--a-1);
}

.fa2 {
    color: var(--c2-5);
}

.ba0 {
    background-color: var(--a-0);
}

.ba1 {
    background-color: var(--a-1);
}

.ba2 {
    background-color: var(--a-2);
}